.aboutScreen{
    background-color: $brand-black;
    height: 100vh;
}

.about{
    background-color: transparentize($brand-black, 0.2);
    border-radius: $screen-content-radius;
    color: white;
    font-size: 1.5rem;
    padding: 3rem;
}