.onlineScreen{
    background-color: white;
    opacity: 0.8;
    font-size: 1.5rem;
    border-radius: 5px;
    max-height: 30rem;
    overflow: scroll;
    min-width: 10rem;
    max-width: 15rem;
    margin-top: 5rem;
}

.refresh{
    padding-top: 5rem;
    margin-top: 10rem;
}

.back{
    padding-top: 2rem;
    margin-top: 5rem;
}

.usernameField{
    min-width: 10rem;
    max-width: 15rem;
}

.onlineUser{
    min-width: 10rem;
    max-width: 15rem;
    :active {
        background-color: blue;
    }    
}

.peersList {
    height: 25rem;
    overflow: auto;
}