@keyframes Shake {
  0% {
    transform: translate(50px, 50px) rotate(0deg);
  }
  10% {
    transform: translate(-50px, -50px) rotate(-4deg);
  }
  20% {
    transform: translate(-0px, 50px) rotate(3deg);
  }
  30% {
    transform: translate(50px, -50px) rotate(3deg);
  }
  40% {
    transform: translate(0px, -50px) rotate(5deg);
  }
  50% {
    transform: translate(-50px, 50px) rotate(-3deg);
  }
  60% {
    transform: translate(-50px, 50px) rotate(1deg);
  }
  70% {
    transform: translate(50px, 0px) rotate(-5deg);
  }
  80% {
    transform: translate(-50px, -50px) rotate(3deg);
  }
  90% {
    transform: translate(50px, 50px) rotate(-2deg);
  }
  100% {
    transform: translate(50px, -50px) rotate(-3deg);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes FadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
