// Official colors
$brand-black: #101010;
$brand-blue: #3178A4;
$brand-gray: #3D3D3D;
$brand-light: #F4ECDB;
$brand-yellow: #F0B350;

// Background colors
$primary-bg-color: $brand-blue;
$secondary-bg-color: #343a40;

// Text
$primary-text-color: $brand-light;
$secondary-text-color: $brand-yellow;

// General screens
$screen-content-radius: 1rem;

// Button
$btn-height: 5rem;
$btn-width: 100%;
$btn-depth:6;
$btn-color:#7fbb98;
$btn-text-color:darken($btn-color,10%);
$btn-lighten-on-hover:7%;
$btn-speed:.06;
$btn-timing-function: ease-out;